<%- include("header") -%>


    <div class="box" id="heading">
      <h1><%=kindofday%></h1>
    </div>
    
    <div class="box">
      
        <% for(var i=0;i<newitems.length;i++){ %>
          <div class="item">
            <input type="checkbox">
            <p><%= newitems[i ]%></p>
          </div>
          
      <%  } %>

      <form  class="item" action="/" method="post">
        <input type="text" name="entry" placeholder="Enter Task Here" autocomplete="off" />
        <button type="submit" name="submit" value=<%=kindofday%>>+</button>
      </form>
      
    </div>


    <%- include("footer") -%>


   
